In [92]:
import importlib
import main
importlib.reload(main)

In [93]:
year = 2020
df = main.getDataForYear(year)

In [94]:
import pandas as pd
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Performance       \
                Squad               # Pl                90s        CrdY CrdR
0              Angers                 31               38.0          65    2
1            Bordeaux                 28               38.0          78    4
2               Brest                 26               38.0          62    4
3               Dijon                 33               38.0          76    5
4                Lens                 27               38.0          94    7
5               Lille                 21               38.0          68    2
6             Lorient                 27               38.0          69    3
7                Lyon                 29               38.0          66   10
8           Marseille                 31               38.0          98    9
9                Metz                 27               38.0          84    4
10             Monaco                 30               38.0          78    7
11        Montpellier                 25               38.0          65    7
12             Nantes                 25               38.0          70    4
13               Nice                 31               38.0          73    4
14              Nîmes                 33               38.0          60    5
15          Paris S-G                 33               38.0          79    7
16              Reims                 29               38.0          77    8
17             Rennes                 32               38.0          79    5
18      Saint-Étienne                 40               38.0          76    2
19         Strasbourg                 26               38.0          58    3

                                                           Aerial Duels       \
   2CrdY  Fls  Fld Off  Crs  Int TklW PKwon PKcon OG Recov          Won Lost
0      1  461  483  39  662  443  376     6     8  1  2074          477  562
1      2  465  480  49  609  503  329     3     8  1  1964          570  501
2      1  491  434  59  720  463  355     4    11  2  1928          693  560
3      1  515  421  54  569  471  367     4    10  2  2041          530  628
4      5  541  465  49  760  508  358    11    11  3  2004          644  630
5      1  487  450  64  637  424  370     5     2  2  2216          572  558
6      1  475  469  46  606  527  424     9    11  1  2064          507  586
7      3  484  439  63  710  408  346    11     7  2  2140          528  424
8      2  500  473  52  647  442  391     3     3  1  1898          552  534
9      1  516  474  50  659  572  417     6    13  1  2098          601  612
10     2  486  470  70  746  436  432    11     5  1  2182          611  558
11     0  513  452  48  807  420  334     4    12  2  1876          657  643
12     2  514  498  54  678  464  385     8    12  1  2066          671  700
13     2  459  438  40  599  435  364     6     7  0  1965          391  419
14     2  424  533  50  617  501  372     6    10  0  1906          517  671
15     3  463  431  65  695  373  385    11     2  1  2052          355  300
16     1  442  414  61  539  487  372     3     8  1  1936          494  578
17     0  502  486  34  764  361  337     3     4  1  2003          627  554
18     0  529  490  49  779  471  428     5     9  2  2119          612  624
19     1  499  412  39  713  521  396     7     8  1  2036          691  658


    Won%
0   45.9
1   53.2
2   55.3
3   45.8
4   50.5
5   50.6
6   46.4
7   55.5
8   50.8
9   49.5
10  52.3
11  50.5
12  48.9
13  48.3
14  43.5
15  54.2
16  46.1
17  53.1
18  49.5
19  51.2

In [ ]:
df.columns = pd.MultiIndex.from_tuples(
    [('About' if 'Unnamed' in level_0 else level_0, level_1) 
        for level_0, level_1 in df.columns],
            names=df.columns.names
    )

df_combined = pd.concat([df['About'], df['Performance'], df['Aerial Duels']], axis=1)